.designer {
    padding-top: 160px;
    background-color: $black-color;
    &-container {
        display: flex;
        align-items: center;
        gap: 0 140px;
    }

    &-info {
        color: $primary-color;
        max-width: 616px;
        margin-bottom: 70px;
    }   

    &-desc {
        &:first-of-type {
            margin-top: 30px;
        }

        &:last-of-type {
            margin: 25px 0 40px;
        }
    }
}

@media screen and (max-width: 1279px) {
    .designer-container {
        gap: 0 50px;
    }
}

@media screen and (max-width:767px) {
    .designer {
        padding-top: 120px;
        &-container {
            flex-direction: column;
            gap: 0;
        }

        &-desc {
            margin-top: 20px!important;
        }
    }
}