body {
    line-height: 1;
    background-color: $primary-color;
}

.wrapper {
    max-width: 1600px;
    margin: 0 auto;
}

.container {
    max-width: 1296px;
    margin: 0 auto;
    padding: 0 16px;
}

a {
    color: inherit;
 }
